body {
    font-family: "Montserat", sans-serif;
    font-size: 16px;
    background-color: #fbfbfb;
    color: rgba(12, 12, 12, 0.7);
    line-height: 1.5;
}

      /* region Reset */

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    bottom: none;
    padding: 0;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*#endregion Reset */

/* region utils  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* #endregion utils */

/* region comon*/
.container {
    min-width: 1198px;
    padding: 0 24px;
    margin: 0 auto;

}
/* #endregion comon */